/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.navbar-fixed-top .this-page {
  background-color: rgb(231, 231, 231);
  box-sizing: border-box;
  color: rgb(85, 85, 85);
  display: block;
  padding: 15px;
}

.main {
  margin-top: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer nav {
  padding-top: 20px;
}

.copyright {
  color: rgb(119, 119, 119);
  padding-top: 20px;
}

.messages {
  margin-top: 20px;
}
